appdirs>=1.4.0
beautifulsoup4>=4.5.1
click>=6.6
cssselect>=0.9.2
DAWG>=0.7.8
lxml>=3.6.4
nltk>=3.2.1
pdfminer.six>=20160614
python-crfsuite>=0.8.4
python-dateutil>=2.5.3
PyYAML>=3.12
requests>=2.11.1
six>=1.10.0
